#debug=0
#from=security@example.com
#secure=1

#[azure.example.com]
#client_id=
#code=
#authorization_endpoint=https://login.windows.net/TENNANTID/oauth2/authorize
#token_endpoint=https://login.windows.net/TENNANTID/oauth2/token
#userinfo_endpoint=https://login.windows.net/TENNANTID/openid/userinfo
#end_session_endpoint=https://login.windows.net/TENNANTID/oauth2/logout

#[gapps.example.com]
#client_id=
#code=
#authorization_endpoint=https://accounts.google.com/o/oauth2/auth
#token_endpoint=https://www.googleapis.com/oauth2/v3/token
#userinfo_endpoint=https://www.googleapis.com/plus/v1/people/me/openIdConnect
#end_session_endpoint=https://accounts.google.com/o/oauth2/revoke
