#debug=0
#from=security@example.com
#cache=1800
#cache_cred=1800

#[example.com]
#client_id=
#client_secret=

#[msazure-example.com]
#vendor=msazure
#discovery=https://login.windows.net/example.com/.well-known/openid-configuration
#client_id=
#client_secret=

#[googleapps-example.com]
#vendor=googleapps
#discovery=https://accounts.google.com/.well-known/openid-configuration
#client_id=
#client_secret=
