#debug=0
#from=security@example.com
#secure=1

#[azure.example.com]
#clientid=
#code=
#authorization_endpoint=https://login.windows.net/<TENNANTID>/oauth2/authorize
#token_endpoint=https://login.windows.net/<TENNANTID>/oauth2/token

#[gapps.example.com]
#clientid=
#code=
#authorization_endpoint=https://accounts.google.com/o/oauth2/auth
#token_endpoint=https://www.googleapis.com/oauth2/v3/token
